@import '../../../vars';
@media (max-width: 800px) {
	.howItWorks {
		text-align: center;
		.bulletLine,
		.bulletPoint {
			display: none;
		}
		.bulletCardsContainer {
			flex-direction: column;
		}
		.bulletCard {
			text-align: center;
			margin-bottom: 3rem;
			h3 {
				width: 100%;
			}
		}
	}
}
