.home .hero {
  background: url("../../images/home-hero.jpg");
  background-position: 9% 76%;
  background-size: 2382px;
  background-repeat: no-repeat;
  padding: 10rem 5rem;
  border-radius: 10px;
  margin-bottom: 10rem;
}
.home .hero h1 {
  color: white;
  font-size: 5rem;
  max-width: 600px;
  margin-bottom: 2rem;
}
.home .hero p {
  color: #f1f1f1;
  max-width: 450px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.8rem;
  margin-bottom: 3rem;
}
.home .collection {
  margin-bottom: 15rem;
}
.home .collection h2 {
  display: block;
  font-size: min(11vw, 12rem);
  text-align: center;
  background-image: linear-gradient(#d0d0d0, rgba(208, 208, 208, 0.2));
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.home .collection .cardsContainer {
  display: flex;
  justify-content: space-around;
  margin-top: -90px;
  width: 100%;
}
.home .collection .coffeeCard {
  text-align: center;
  width: 20%;
}
.home .collection .coffeeCard img {
  margin-bottom: 3rem;
  width: 60%;
}
.home .collection .coffeeCard h3 {
  font-size: 1.6rem;
  color: #252c34;
  margin-bottom: 2rem;
}
.home .collection .coffeeCard p {
  font-size: 1.1rem;
  color: #252c34;
  font-weight: 300;
  line-height: 1.8rem;
}

@media (max-width: 1024px) {
  .home .hero {
    background-size: 1750px;
    background-position: 8% 85%;
    padding: 7.5rem 4rem;
  }
  .home .hero h1 {
    font-size: 3.5rem;
    max-width: 400px;
  }
  .home .collection .cardsContainer {
    flex-direction: column;
  }
  .home .collection .cardsContainer .coffeeCard {
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
  }
  .home .collection .cardsContainer .coffeeCard img {
    margin-bottom: 0;
    width: 30%;
    margin-right: 5rem;
  }
  .home .collection .cardsContainer .coffeeCard .cardDescription {
    width: 40%;
  }
}
@media (max-width: 600px) {
  .home .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/home-hero.jpg");
    background-position: 33% 95%;
    background-size: 1200px;
    text-align: center;
    padding: 3rem 1rem;
  }
  .home .hero h1 {
    font-size: 2.5rem;
    max-width: 600px;
  }
  .home .hero p {
    max-width: 600px;
  }
  .home .collection .cardsContainer {
    margin-top: 1rem;
  }
  .home .collection .cardsContainer .coffeeCard {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .home .collection .cardsContainer .coffeeCard img {
    width: 70%;
    margin-right: 0;
  }
  .home .collection .cardsContainer .coffeeCard .cardDescription {
    width: 100%;
  }
}
