@import '../../../vars';

.navBar {
	padding: 1.5rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.brand {
		@include brand;
	}
	nav {
		span {
			font-size: 2.3rem;
			color: white;
			position: absolute;
			right: 10.4%;
			top: 26px;
		}

		a {
			@include navLink;
		}
	}
	.burger {
		display: none;
		flex-direction: column;
		justify-content: space-between;
		padding: 3px;
		div {
			width: 35px;
			height: 6px;
			background-color: $blueGrey;
			border-radius: 5px;
			margin: 3px 0;
		}
	}
}
