@import '../../../vars';
@media (max-width: 800px) {
	.navBar {
		nav {
			position: absolute;
			background-color: $green;
			width: 100%;
			left: 0;
			top: -22%;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 1rem;
			transition: top 0.4s ease-out;
			a {
				color: white;
				padding: 1rem;
				font-size: 1.2rem;
			}
			&.open {
				left: 0;
				top: 0;
				transition: top 0.4s ease-out;
			}
		}
		.burger {
			display: flex;
		}
	}
}
