@import '../../../vars';
@media (max-width: 600px) {
	.home {
		.hero {
			background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
				url('../../images/home-hero.jpg');
			background-position: 33% 95%;
			background-size: 1200px;
			text-align: center;
			padding: 3rem 1rem;
			h1 {
				font-size: 2.5rem;
				max-width: 600px;
			}
			p {
				max-width: 600px;
			}
		}
		.collection {
			.cardsContainer {
				margin-top: 1rem;
				.coffeeCard {
					flex-direction: column;
					align-items: center;
					justify-content: center;
					text-align: center;
					img {
						width: 70%;
						margin-right: 0;
					}
					.cardDescription {
						width: 100%;
					}
				}
			}
		}
	}
}
