@import '../../../vars';
@media (max-width: 1024px) {
	.home {
		.hero {
			background-size: 1750px;
			background-position: 8% 85%;
			padding: 7.5rem 4rem;
			h1 {
				font-size: 3.5rem;
				max-width: 400px;
			}
		}
		.collection {
			.cardsContainer {
				flex-direction: column;
				.coffeeCard {
					width: 100%;
					text-align: left;
					display: flex;
					align-items: center;
					justify-content: center;
					margin-bottom: 5rem;
					img {
						margin-bottom: 0;
						width: 30%;
						margin-right: 5rem;
					}
					.cardDescription {
						width: 40%;
					}
				}
			}
		}

		.aboutCardsContainer {
			flex-direction: column;
		}
		.aboutMini {
			height: 800px;
		}
		.aboutCard {
			display: flex;
			padding: 3rem 4rem;
			align-items: center;
			svg {
				font-size: 10rem;
				margin-bottom: 0;
				margin-right: 4rem;
			}
			h3 {
				text-align: left;
			}
			p {
				text-align: left;
			}
		}
	}
}
