@import '../../../vars';
@media (max-width: 750px) {
	.createPlan {
		.hero {
			background-size: 700px;
			padding: 2rem;
			h1 {
				font-size: 1.5rem;
			}
		}
		.currentOptions {
			display: none;
		}
		.summary {
			padding: 2rem;
			p {
				font-size: 1.5rem;
			}
		}
		.howItWorks {
			padding: 2rem;
			h2 {
				font-size: 2.3rem;
			}
			.bulletNumber {
				margin-bottom: 0.5rem;
			}
			.bulletCard {
				h3 {
					border-bottom: $green solid 1px;
					padding-bottom: 0.5rem;
				}
			}
		}
	}
}
