@import './vars';
.container {
	width: 80%;
	max-width: 1440px;
	margin: auto;
}
button,
.btn {
	font-family: 'fraunces';
	font-weight: 700;
	font-size: 1.2rem;
	background: none;
	background-color: #0e8684;
	border: none;
	color: white;
	padding: 1rem 1.5rem;
	border-radius: 7px;
	text-decoration: none;
}
.hero {
	background-repeat: no-repeat;
	padding: 10rem 5rem;
	border-radius: 10px;
	margin-bottom: 10rem;
	h1 {
		color: white;
		font-size: 5rem;
		max-width: 600px;
		margin-bottom: 2rem;
	}
	p {
		color: $offWhite;
		max-width: 450px;
		font-size: 1rem;
		font-weight: 300;
		line-height: 1.8rem;
		margin-bottom: 3rem;
	}
}

@media (max-width: 600px) {
	.container {
		width: 94%;
	}
}
